*/*.bkp
/src/node_modules
/src/public/assets
/src/public/css
/src/public/fonts
/src/public/images
/src/public/js
/src/public/mix-manifest.json
/src/public/storage
/src/storage/*.key
/src/storage/debugbar
/src/vendor

composer.lock

*.bkp
*.backup
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea

