.forgot-password {
    @include media("<tablet") {
        padding-bottom: 73px;
        button {
            background-color: $primary;
            border-color: $primary;
        }
    }
    &__header {
        max-width: 384px;
        @include media(">=tablet") {
            margin: 0px auto;
        }
        h1 {
            @include media(">=tablet") {
                margin-top: 223px;
            }
        }
        p {
            max-width: 265px;
            margin: 0px auto;
            text-align: center;
        }
    }

    &__wrapper {
        max-width: 336px;
        margin: 23px auto 0px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        position: relative;
    }

    .form {
        width: 100%;
    }
}
