.bg-login {
    background: url("/images/content/elements/bg-login-m.svg") center 136px
        no-repeat;
    background-size: cover;
    margin-top: 36px;
    margin-bottom: -20px !important;
    @include media(">=tablet") {
        min-height: 936px;
        margin-bottom: 56px !important;
        background: url("/images/content/elements/bg-login.svg") center top
            no-repeat;
    }
    input,
    textarea {
        &:focus {
            background-color: #fff !important;
        }
    }
}

.login {
    @include media("<tablet") {
        padding-bottom: 73px;
    }
    &__logo {
        max-width: 119px;
        margin: 32px auto 0;
        display: block;

        @include media(">=tablet") {
            max-width: 100%;
            max-height: 143px;
            margin: 75px auto 0;
        }
    }

    &__header {
        text-align: center;
        @include media("<tablet") {
            margin-top: 98px;
            padding-top: 35px;
        }

        h1 {
            @extend %font-gloria;
            font-size: 30px;
            line-height: 59px;
            margin-bottom: 0px;
            @include media(">=tablet") {
                margin-top: 118px;
                font-size: 50px;
                line-height: 99px;
            }
            &.spaced {
                @include media(">=tablet") {
                    margin-top: 168px;
                }
            }
        }

        p {
            font-size: 16px;
            line-height: 19px;
            max-width: 232px;
            margin: 0px auto;
            @include media(">=tablet") {
                font-size: 18px;
                line-height: 21px;
                max-width: initial;
                margin: initial;
            }
        }
        &--small {
            h1 {
                font-size: 29px;
                line-height: 59px;
                @include media(">=tablet") {
                    font-size: 40px;
                    line-height: 79px;
                }
            }
        }
    }

    &__wrapper {
        max-width: 934px;
        margin: 24px auto 0px;
        padding: 0px 20px;
        // background-color: $color-white;
        border-radius: 10px;
        // box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;

        @include media(">=tablet") {
            padding: 0px 65px;
            flex-wrap: initial;
        }
    }

    &__or {
        margin: 20px auto;
        position: relative;
        width: 100%;
        text-align: center;

        @include media(">=tablet") {
            margin: 20px 54px;
            position: initial;
            width: initial;
            text-align: initial;
        }

        p {
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
        }

        &::after,
        &::before {
            content: "";
            width: calc(50% - 30px);
            height: 1px;
            background: $color-black;
            position: absolute;
            top: 50%;
            transform: translateY(-1px);

            @include media(">=tablet") {
                width: 1px;
                height: calc(50% - 30px);
                top: initial;
                left: 50%;
                transform: translateX(-1px);
            }
        }

        &::before {
            left: 0px;

            @include media(">=tablet") {
                left: 50%;
                top: 0px;
            }
        }

        &::after {
            right: 0px;

            @include media(">=tablet") {
                top: initial;
                bottom: 0px;
            }
        }
    }

    &__social,
    &__email {
        width: 100%;
        margin: 0px auto;
    }

    &__social {
        p {
            margin-bottom: 20px;
            text-align: center;
        }

        a {
            margin-bottom: 20px;
        }
    }

    &__email {
        .forgot {
            text-align: center;
            margin-top: 23px;

            @include media(">=tablet") {
                text-align: right;
            }

            a {
                display: inline-flex;
                align-items: center;

                &::after {
                    content: url("/images/lock.svg");
                    width: 15px;
                    margin-left: 10px;
                }
            }
        }
    }

    &__create {
        text-align: center;
        margin-top: 43px;

        a {
            font-family: "Roboto", serif;
            font-weight: 700;
            display: block;
            text-transform: uppercase;
            text-decoration: underline;

            @include media(">=tablet") {
                margin-left: 18px;
                display: initial;
            }
        }
    }
}
